*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background-image: url(./images/ac2.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eba486;
  width: 100%;
  height: 70px;
  gap: 500px;
}
.left-side {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 27px;
  margin-top: 150px;
}
.left-side .fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  border: 1px solid #eba486;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #eba486;
}
.left-side .fa-brands:hover {
  color: #fff;
  border: 1px solid #fff;
}
.left-side a {
  text-decoration: none;
}
.right-side {
  width: 25%;
  margin: 0 auto;
  margin-top: 150px;
}
.right-side ul {
  display: flex;
  gap: 27px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.right-side ul li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-side ul a:hover {
  color: #fff;
}
.outer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
  gap: 57px;
  width: 90%;
}
.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #eba486;
  gap: 50px;
  background-color: rgba(18, 21, 36, 0.1);
  align-self: start;
  width: 50%;
  margin-top: 50px;
}
.playerContainer h2 {
  font-size: 1.5;
}
.player1,
.player2,
.player3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 150px;
  background-color: #121524;
  opacity: 0.8;
  border-radius: 25px;
  gap: 7px;
}
#volumeControl1,
#volumeControl2,
#volumeControl3 {
  width: 100px;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #07022c;
  gap: 50px;
  align-self: start;
  width: 100%;
}
.containerforboxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 150px;
  width: 50%;
  margin-bottom: 50px;
  margin-top: -150px;
}
.box1,
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 7px;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 240, 0.7);
  border-radius: 25px;
}

h6 {
  font-size: 2rem;
}
.box1 p,
.box2 p {
  font-size: 1.2rem;
  width: 180px;
}
.audioVisualizerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 150px;
  width: 350px;
  background-color: rgba(8, 17, 27, 0.5);
  background-image: url(./images/halfdan.jpg);
  background-size: 100% 100%;
  opacity: 0.8;
  margin: 0 auto;
}
.playerContainer button {
  height: 65px;
  width: 65px;
  background: linear-gradient(
    90deg,
    rgba(27, 23, 38, 0.5),
    rgba(150, 136, 135, 0.5),
    rgba(255, 255, 253, 0.5)
  );
  border-radius: 50%;
  border: 1px dotted white;
}
.playerContainer button:hover {
  background-color: #eba486;
}
.playerContainer button:hover .fa-music {
  color: #fff;
}
